.podcastDetailsContainer {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}

.podcastTitle {
  color: white;
}

.podcastDescription {
  color: #b8b8b8;
  font-weight: 300;
}

.episodeCount {
  color: #b8b8b8;
}

.searchBarContainer {
  background-color: black;
  margin-bottom: -1rem;
  padding-top: 1rem;
}
.searchBar {
  color: #b8b8b8;
  background-color: black;
  font-family: inherit;
  font-weight: 300;
  width: 95vw;
  margin: 1rem auto;
  font-size: 1.25rem;
  display: block;
  padding: 0.25rem;
  border: solid 1px #b8b8b8;
  border-radius: 5px;
}

.largePlaceHolder {
  height: 200px;
  min-width: 200px;
  background-color: white;
}
